/*gen styles*/

/*HEADER*/

header{
    background: #CE1131;
    height: 5em;
/*    width: 1366px;*/
   padding:1em;
    padding-left:  0.5em;
    
}


/*nav*/
.nav{
   padding-left: 1.5em;
    width: 33.33%;
}
.nav .nav-link{
    color: white;
}

/*logo*/
.logo{
    text-align: center;
}
/*links*/

.social i{
         margin: 0.5em;
    margin-left:  1em;
    color:  #fff;
    text-align: center;

}

.buy{
/*    margin: 1em;*/
    height: 2em;
    border: 1px solid;
    border-radius:  15px;
    background: #fff;
    padding-right: 2px;
    margin-left:  1em;
}
.buy .btn-link{
text-align: center;
    color: #CE1131;
    margin-right:  10px;
}

/*BANNER */

.banner-img{
background-image: url(../img/back2.jpg);
    background-size: cover;
    height:  50em;
}

/*MAIN*/

.main{
    margin-left: 5em;
    margin-right: 5em;
}

