/*gen styles*/
body{
    overflow-x: hidden;
}
hr {
    color: grey;
    width: 80%;
    text-align: center;
}
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after{
    -webkit-box-sizing:inherit;
        -moz-box-sizing:inherit;
            box-sizing:inherit;
}
h1,h2,h3{
    margin-top: 1em;
    text-align: center;
}

/*HEADER*/

header {
    position: fixed;
	top:0;
	left: 0;
	width: 110%;
	padding: 0;
    background: #CE1131;
    height: 7em;
    padding:1em;
    z-index: 2;
    
}

.social,.logo {
    margin-top: 1.5em;
}


/*social*/

.social i {
    margin-left: 10px;
}

/*logo*/
.logo {
    padding-left: 2.5em;
}

/*nav*/


/*banner*/
.banner {
    margin-top: 5em;
    height: 20em;
    border-bottom:1px solid #CE1131;
    border-bottom-width: 80%;
 
}
.banner .buy{
    height: 4em;
    width: 15em;
    background: #CE1131;
    color: black;
    border-radius: 30px;
    margin-top: 1em;
}
.banner a{
/*    font-size: 20px;*/
}

/*nav*/
.navbar {
    margin: 0;
}


/*MAIN*/
/*members*/
 .members{
        padding-top: 2em;
    }
    .members > div {
        margin-bottom: 5em;
    }

.members  figure {
    height: 20em;
    width: 100%;
    border: 1px solid black;
}
.members figcaption {
    height: 5em;
    width: 100%;
    border: 1px solid black;
    margin-top: -1em;
}


/*events gen*/

.events {
}

.events .show{
    margin: 4%;
}

/*events*/
.events figure {
        width: 50%;
        height: 20em;
        border: 1px solid black;
        float: left;
        margin-right: 1em;
}
.events span {
    padding-left: 4%;
}
.events .buy{
     height: 4em;
    width: 15em;
    background: #CE1131;
    color: black;
    border-radius: 30px;
    
}

/*guest artist*/
.events .guest {
    margin-top: 4%;
}
.guest figure{
    height: 20em;
    width: 70%;
    border: 1px solid black;
    
}

/*gallery*/
.gallery {
    height: 10em;
}