/*gen styles*/
body{
    overflow-x: hidden;
}
hr {
    color: grey;
    width: 60%;
    text-align: center;
}
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after{
    -webkit-box-sizing:inherit;
        -moz-box-sizing:inherit;
            box-sizing:inherit;
}

/*HEADER*/

header {
    position: fixed;
	top:0;
	left: 0;
	width: 110%;
	padding: 0;
    background: #CE1131;
    height: 7em;
    padding:1em;
    z-index: 2;
    
}

.social,.logo {
    margin-top: 1.5em;
}


/*social*/

.social i {
    padding-left: 13px;
}

/*logo*/
.logo {
    padding-left: 2.5em;
}

/*nav*/


/*banner*/
.banner {
    margin-top: 5em;
       background: yellow;
        height: 15em;
}

/*nav*/
.navbar {
    margin: 0;
}


/*MAIN*/
/*members*/
.members {
    height: 20em;
    
}
/*events*/
.events {
    height: 10em;
}
/*gallery*/
.gallery {
    height: 10em;
}