/*--#inner{
    border:1px solid white;
    margin-top: 200px;
}
#main{

}
*/
.logo img{
    height: 100px;
    width: 100px;
  margin-left: 80px;
}
#sidebar{
    float: left;
  
    background-color:  #30282A ;
    border: 1px solid darkblue;
    width: 250px;
    height: 800px;
}
.upgrade{
    
    border: 1px solid aqua;
    height: 100px;
    width: 200px;
    margin-top: 600px;
    
}
#top{
    margin-top: -300 px;
}
.nav-side{
    padding-top: 15px;
}
.upload{
    border: 1px solid white;
    height: 40px;
    width: 60px;
}
.row img{
    height: 200px;
    width: 200px;
}
td{
    margin: 10px;
}
/*table icon*/


#left{
    float: left;
    
}
#right{
    margin-left: 300px;
}