

/* Media Queries */

@media screen and (min-width: 1110px) {
    
/*    HEADER*/
/*    social*/
    .social i{
        font-size: 20px;
        color: #CE1131;
        padding-right: .5em;
    }
    .social a{
    border: 1px solid black;
    border-radius: 10px;
    background: black;
/*    width: 20px;*/
    padding: 10px;
    margin-left: 3em;
    
}
    
/*    logo */
    .logo{
        padding-left: 10em;
    }
/*    nav*/
    .navbar a{
        font-size: 20px;
    }
    
	
}

@media screen and (max-width: 960px) {
    
    header{
    position: fixed;
	top: 0;
	left: 0;
/*	width: 110%;*/
	padding: 1em;
    z-index: 2;
        height: 5em;
    }
    
    
      /* logo*/
    
    .logo{
    padding-left: 2.5em;
        
    }
    
    
/*    social */
    
    .social{

    }
    
    .social a{
        
    }
    .social i{
/*        font-size: 15px;*/
    }
    
    /*nav*/
    
    .menu{
        
    }
    .navbar {
     
    }
  
    .navbar-collapse{
    background: #CE1131;
    width: 6em;
    height: 11em;
    border-bottom-left-radius:10px;        
    border-bottom-right-radius: 10px;
        
    }
    .navbar-nav {
   
   
        }
    
    .navbar-nav >li > a {
    margin-left: 1em;
    }
  
/*    banner*/
    
    .banner{
     
    }
    

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    
      
      
}






/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      

      
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}