
@media only screen and (min-width: 1170px) {

  
}

@media only screen and (min-width: 1024px) {

    
}

@media only screen and (min-width: 768px) {    /*===========HEADER=======*/
/*========== MAIN =============  */
/*----members---*/

/*  ----events-------*/
    .events span {
    padding: 2em;
}
/* -------gallery------*/

}

/*width 320px*/

@media only screen and (min-width: 320px) and (max-width: 760px) {
/*===========HEADER=======*/
/*========== MAIN =============  */
/*----members---*/
    .members div {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 1em;
    }
/*----events---*/
    .events span {
    padding: 1em;
}
    
/*----gallery---*/
    
  
}
/* Landscape */
/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}*/